.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.myBook {
  padding: 50px 0;
  background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-simple-wood-plank-texture-desk-top-view-background-poster-picture-image_1073879.jpg');
}

.myExport {
  margin-left: 30px;
  width: 640px;
  height: 454px;
  background-image: url("https://cdn.tuoitre.vn/thumb_w/640/2022/6/6/2022-06-05t204055z359715221up1ei651lg689rtrmadp3soccer-uefanations-por-swi-report-16544730290681086654257.jpeg");
}